@font-face{
    font-family:"Lulo-Clean-W01-One-Bold";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0163ac22-50a7-406e-aa64-c62ee6fbf3d7.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0163ac22-50a7-406e-aa64-c62ee6fbf3d7.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/aee74cb3-c913-4b54-9722-6001c92325f2.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/80de9d5d-ab5f-40ce-911b-104e51e93d7c.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/1b46b05b-cfdd-4d82-8c2f-5c6cfba1fe60.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/be340f0b-a2d4-41df-acb1-4dc124330a88.svg#be340f0b-a2d4-41df-acb1-4dc124330a88") format("svg");
}
@font-face{
    font-family:"Avenir-LT-W01_85-Heavy1475544";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/20577853-40a7-4ada-a3fb-dd6e9392f401.svg#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
}
body{
  margin:0;
  text-align:center;
  font-family: "Lulo-Clean-W01-One-Bold", sans-serif ;
}
.bloc-header
{
  width:1230px;
  margin: 0 auto;
}
header{
  background-color: rgb(243, 73, 61);
  width: auto;
  height : 177px;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 5;
}
header ul{
  display: flex;
  justify-content: center;
  margin: 2em 0em 0em 0em;
  list-style: none;
  flex-wrap: wrap;
}
.concept a,.actualites a
{
  display: inline-block;
  border: 5px solid rgb(243, 73, 61);
  padding: 0.6em;
  color: rgb(243, 73, 61);
}
.actualites a
{
  margin-right:6em;
}
.concept a
{
  margin: 1em 0em 0em 10em;
}
.titre-header
{
  padding-right:90px;
  margin: 0;
}
header ul li a
{
  display: block;
  padding: 0.4em 3.5em 0.4em 3.5em;
  background-color: rgba(219, 225, 44, 1);
  color: white;
  font-size: 0.7em;
  border-left: white solid 1px;
}
header ul li a:hover
{
  background-color:rgba(191, 196, 22, 1);
  transition: 0.4s ease 0s;
}
header ul li:first-child a
{
  border-left: none;
}
a:link{
  text-decoration:none;
}
h1
{
  padding: 0.2em 0em 0em 0em;
  font-size: 2.5em;
}
header h3
{
  font-size: 1.1em;
}
header h1,header h3
{
  margin: 0;
  color: white;
}
.actualites a:hover,.concept a:hover
{
  transition: 0.4s;
  color:white;
  background-color: rgb(243, 73, 61);
}
.newsletter
{
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  margin-top: -130px;
  z-index: 300;
  color:rgb(243, 73, 61);
  height:150px;
  padding: 0;
}
.newsletter p
{
  font-size:10px;
  text-align: left;
}
.newsletter p span
{
  font-size:12px;
}
::placeholder
{
  font-family: "Lulo-Clean-W01-One-Bold",sans-serif;
  color:rgb(243, 73, 61);
}
input
{
  margin-left: 15px;
  padding: 5px;
  width:400px;
  border: 5px solid rgb(243, 73, 61);
  background-color: #D9D9D9;
  font-family: "Lulo-Clean-W01-One-Bold",sans-serif;
  color: rgb(243, 73, 61);
}
footer
{
  background-color: rgba(219, 225, 44, 1);
  color : white;
  padding : 0.1em;
}
footer p
{
  font-size:0.9em;
  font-family: "Avenir-LT-W01_85-Heavy1475544",sans-serif;
}
.lien-courant{
  background-color:rgba(191, 196, 22, 1);
}
.container
{
  display: flex;
  justify-content:space-around;
  align-items:flex-end;
}
.container>img
{
  width: auto;
  height: 50px;
  left: 18em;
  top: 1em;
}
