/* NAVBAR */
@import "navbar.css";

/* FOOTER */
@import "footer.css";

body {
  font-family: "Lulo-Clean-W01-One-Bold", sans-serif ;
  color: #707070;
}

.imgPanier, .libellePanier, .quantPanier, .prixPanier, .supprPanier{
  display:flex;
  justify-content: center;
  align-items: center;
}

.imgPanier img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid grey;
  padding: 2px;
}

.libellePanier p{
  padding: 0;
  margin: 0;
}

.titrePanier{
  font-size: 13px;
}

.nbPersPanier{
  font-size: 8px;
}

.quantPanier{

}

.quantPanier input{
  width: 40px;
  border : 2px solid grey;
  border-radius: 5px;
  text-align: center;
  color : grey;
  margin : 0px 5px;
}

.quantPanier button{
  background-color: grey;
  margin: 0;
  border: none;
  border-radius: 50px;
  padding: 3px 9px;
  color: white;
}

.prixPanier p{
  margin: 0;
}

.supprPanier button{
  color: red;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}


/*-----------------------------------------------------------------
                      tableau aside total à PAYER
-----------------------------------------------------------------*/

#lignes{
  padding : 10px 5px;
  border : 1px solid grey;
  text-align: center;
}

.ligne{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width : 80%;
  margin: 0 auto;
}

hr{
  width: 80%;
  color: grey;
}
#Terminer
{
  margin-top: 15px;
}
#Terminer button
{
  margin: 0;
  background-color: grey;
  border: none;
  width: 100%;
  padding: 15px 0px;
  margin: 0 auto;
  color: white;
}

#container_resume
{
  max-width: 450px;
}

#container_resume h3{
  font-size: 14px;
}

@media screen and (max-width: 1000px)
{
  .quantPanier
  {
    padding: 20px;
  }
}

h2
{
  color:red;
}

.vert
{
  color:#dbe12c;
}

.titre
{
  text-align: center;
}

.boutonretour
{
    background-color: #dbe12c;
    color : white;
    border : none;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 15px;
    margin-right: 50px;
    display: inline-block;
    margin: 25px 0px 0px 25px;
}
.boutonretour:link
{
  text-decoration: none;
}
.boutonretour:hover
{
  color: white;
  background-color: #bfc416;
}

.info
{
  text-align: center;
}
