/* NAVBAR */
@import "navbar.css";

/* FOOTER */
@import "footer.css";

body {
  font-family: "Lulo-Clean-W01-One-Bold", sans-serif ;
  color: #707070;
}

p {
     margin: 0;
}


#toutLesProduits p,#compositionPanier p
{
  font-family:"Avenir-LT-W01_85-Heavy1475544";
  text-transform: capitalize;
}
input[type="search"]
{
  font-family:"Avenir-LT-W01_85-Heavy1475544";
}
.doubleInput
{

  margin: 0 auto;
  display: flex;
  justify-content:space-between;
}

::placeholder
{
  font-family: "Lulo-Clean-W01-One-Bold", sans-serif ;
  color:#ACACAC;
  font-size: 12px;
}

.doubleInput div
{
  width: 47%;
}

.doubleInput select
{
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#achetable
{
  text-align: start;
}

.custom-control-input:checked ~ .custom-control-label::before
{
  border-color: #F3493D;
  background-color: #F3493D;
}

.custom-control-label::before
{
  border: #F3493D solid 1px;
}
input[type='checkbox']
{
  border : 3px solid grey;
}
.doubleInput input,.doubleInput select
{
  width: 100%;
  padding: 5px;
  margin: 0px 0px 25px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

form
{
  text-align: center;
}
.inputGauche
{
  display: flex;
  flex-direction: column;
}

#h2NvPanier
{
  text-align: center;
  margin: 40px 0px;
  padding: 0px 30px;
}
#btnSupprimer
{
  cursor: pointer;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
  position: absolute;
  width: 20px;
  height: 20px;
  right : 5px;
  top : 5px;
  transform: rotate(45deg);
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

input,select
{
  color: #707070;
}

label
{
  font-size: 13px;
}

input
{
    margin-bottom: 25px;
}
#imageUpload
{
  margin-bottom: 5px;
}
input,select
{
  padding: 10px;
}

textarea
{
  width: 100%;
  padding: 5px;
  margin: 0px 0px 25px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 200px;
}

input,textarea,select
{
  border : 3px solid #707070;
}

#imgPreview
{
  object-fit: cover;
  width: 100%;
  min-height: 196px;
  max-height: 100%;
}

#btnSupprimer:hover
{
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

#inputImage
{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.container_img3
{
  display: flex;
  justify-content: center;
  align-items: center;
}


#imageUpload
{
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border : 3px solid #707070;
}

#imgPlus
{
  position: absolute;
  top :0;
  left : 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: auto;
}

.container_row
{
  justify-content: space-between;
}
.img_search {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    object-fit: cover;
    padding: 2px;
    border: 3px solid #707070;
}

.compo-txt-prod, .compo-txt-origin
{
  justify-content: center;
}


.compo-txt-prod, .compo-txt-origin
{
  align-items: center;
  display: flex;
}

.compo-txt-origin p,.compo-txt-prod p
{
  display: inline-block;
}
.container_row p
{
  text-align: center;
}

#toutLesProduits,#compositionPanier
{
    padding: 15px;
    border: 3px solid #707070;
    height: 300px;
    overflow-y: scroll;
}
#container_recherche
{
  margin: 0 auto;
  position: relative;
}

#rechercheProduit
{
  border-radius: 25px;
  padding-left: 25px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
.boutonAjout
{
  justify-content:flex-end;
  align-items: center;
  display: flex;
}

.boutonAjout button
{
  padding: 5px 10px;
  background: transparent;
  margin: 0;
  border : none;
  color : #bfc416;
  font-size: 35px;

}

.boutonPlusProd,.boutonMoinsProd
{
  cursor: pointer;
  font-size: 25px;
  padding: 5px;
}

#container_form
{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}
#boutonSubmit
{
  margin: 25px 0px;
  padding: 8px 80px;
  background-color: #F3493D;
  color: white;
  border: none;
  border-radius: 35px;
}
#container_all
{
  text-align: center;
}
figure
{
  margin: 0;
}

.row_image
{
  display: flex;
  align-items: center;
}
#labelImage
{
  font-family:"Avenir-LT-W01_85-Heavy1475544";
  font-size: 14px;
  text-align : left;
  margin: 5px 0px 25px 0px;
  padding: 0;
}
