/* NAVBAR */
@import "navbar.css";

/* FOOTER */
@import "footer.css";

.container>div div
{
  background-color: blue;

  height: 250px;
}
.row
{
  justify-content:space-around;
}
body {
  font-family: "Lulo-Clean-W01-One-Bold", sans-serif ;
}
.nous {
  background-color: #bfc416;
}
