/* NAVBAR */
@import "navbar.css";

/* FOOTER */
@import "footer.css";

body {
    color: #707070;
  font-family: "Lulo-Clean-W01-One-Bold", sans-serif ;
}
.nous {
  background-color: #bfc416;
}

.titre_panier
{
  font-size: 2.8em;
}

.text-center
{
  padding-top: 50px;
}

.produit_img
{
  width: 80px;
  height: auto;
  object-fit: cover;
  padding: 5px;
  border: solid #707070; 3px;
}
.container_img
{
  position: relative;
  background-color: white;
  height: 200px;
  margin: 0 auto ;
  overflow: hidden;
  box-shadow: -14px 12px 10px -11px rgba(0,0,0,0.25);
}
.container_img img
{
  height: auto;
  width: 100%;
}
.compo-txt-prod
{
  justify-content: center;
}

.compo-txt-origin
{
  justify-content:flex-end;

}

.compo-txt-prod, .compo-txt-origin
{
  align-items: center;
  display: flex;
}

.compo-txt-origin p,.compo-txt-prod p
{
  display: inline-block;
}


/* Code personnalisé  */
hr
{
width:80%;
}

.container_row
{
  justify-content: space-between;
}

.bigcontainer
{
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.bigcontainer p
{
  color: white;
  position: absolute;
  right: 0;
  background-color:  #f04942;
  padding: 15px 25px;
  border-radius: 0px 0px 20px 20px;
}

.bocal
{
  color:blue;
  background-color:  #f04942;
  width: 25px;
  height: auto;
}
