/* NAVBAR */
@import "navbar.css";

/* FOOTER */
@import "footer.css";


body {
  font-family: "Lulo-Clean-W01-One-Bold", sans-serif ;
}
.produits {
  background-color: #bfc416;
}

/* CONTENU */
.contenu {
  margin-top: 220px;
  font-family: 'Poppins',Arial, sans-serif;
}
ul {
  list-style: none;
}
h4 {
  background-color: #f04942;
  color: white;
  padding: 10px 0 10px 20px;
  margin: 0;
}
.groupe {
  transition: .4s all ease;
  border-radius: 0;
  border: solid 1px #f5f5f5;
  width: 100%;
  text-align: inherit;
  background-color: #efefef;
  color: black;
  font-size: 1em;
  padding: 10px 0 10px 20px;
}
.groupe:hover {
  background-color: #dbe12c;
}
.groupe:focus,.groupe:active {
   outline: none !important;
   box-shadow: none;
}
.dropdown-toggle:after {
  float: right;
  margin: 9px 15px 0 0;
}
