/* NAVBAR */
@import "navbar.css";

/* FOOTER */
@import "footer.css";


body {
  font-family: "Lulo-Clean-W01-One-Bold", sans-serif ;
}
.produits {
  background-color: #bfc416;
}

/* CONTENU */
.contenu {
  margin-top: 50px;
  font-family: 'Poppins',Arial, sans-serif;
}
.search:active, .search:focus, .send:active, .send:focus {
  border: 1.5px solid #f04942;
  outline: none !important;
  box-shadow: none;
}
.send:active, .send:focus {
  border-left: 2px solid #f04942;
}
ul {
  list-style: none;
}
h4 {
  background-color: #f04942;
  color: white;
  padding: 10px 0 10px 20px;
  margin: 0;
}
.groupe {
  transition: .4s all ease;
  border-radius: 0;
  border: solid 1px #f5f5f5;
  width: 100%;
  text-align: inherit;
  background-color: #efefef;
  color: black;
  font-size: 1em;
  padding: 10px 0 10px 20px;
}
.groupe:hover {
  background-color: #dbe12c;
}
.groupe:focus,.groupe:active {
   outline: none !important;
   box-shadow: none;
}
.dropdown-toggle:after {
  float: right;
  margin: 9px 15px 0 0;
}
.card-text {
  font-size: 0.8em;
}
.rayonFamille {
  font-family: "Lulo-Clean-W01-One-Bold", sans-serif;
  font-size: 1.2em;
}
.plusdinfo {
  background-color: #dbe12c;
  border-color: gray;
}
.plusdinfo:hover{
  background-color: #bfc416;
  transition: .4s all ease;
  border-color: gray;
}
.plusdinfo:focus, .plusdinfo:active {
  background-color: #bfc416 !important;
}
.plusdinfo:focus {
  outline: none !important;
  box-shadow: none;
}
#searchsmall {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 992px) {
  .rayonFamille {
    text-align: center;
  }
}
